* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  background-attachment: fixed;
  position: relative;
}

#main-container {
  margin: 80px 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.add_image {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  position: relative;
}

.add_image.empty {
  border: 1px dashed white;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.add_image.filled {
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  background-color: yellow;
  text-align: center;
  border-radius: 30px;
}

.front {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: darkblue;
  color: lightblue;
  border-radius: inherit;
}

.back {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: lightblue;
  color: darkblue;
  transform: rotateY(180deg);
  border-radius: inherit;
}

.add_image.empty:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.four-part-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 2fr 1fr 2fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin: 10px;
  row-gap: 10px;
}
.four-part-container .horizontal {
  width: 300px;
  height: 200px;
}
.four-part-container .horizontal img {
  width: 300px;
  height: 200px;
}
.four-part-container .vertical {
  width: 200px;
  height: 300px;
}
.four-part-container .vertical img {
  width: 200px;
  height: 300px;
}
.four-part-container div:nth-child(1) {
  grid-column: 1/span 2;
  grid-row: 1/span 1;
  justify-self: start;
}
.four-part-container div:nth-child(2) {
  grid-column: 3/span 1;
  grid-row: 1/span 2;
  align-self: start;
}
.four-part-container div:nth-child(3) {
  grid-column: 1/span 1;
  grid-row: 2/span 2;
  align-self: end;
}
.four-part-container div:nth-child(4) {
  grid-column: 2/span 2;
  grid-row: 3/span 1;
  justify-self: end;
}

#color-picker {
  position: fixed;
  right: 30px;
  top: 30px;
}
#color-picker #theme-icon {
  background-color: white;
  border-radius: 50%;
  opacity: 0.5;
  padding: 15px;
  transition: 0.5s;
}
#color-picker #theme-icon:hover {
  cursor: pointer;
  opacity: 1;
}
#color-picker #colors-list {
  position: absolute;
  top: 0;
  right: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#color-picker #colors-list div {
  margin: 5px;
  border: 1px solid white;
}
#color-picker #colors-list div:hover {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.flipping {
  transform: rotateY(180deg);
}/*# sourceMappingURL=main.css.map */